---

include:
  - "https://gitlab.dune-project.org/core/ci-config/raw/master/config/common/master.yml"
  - "https://gitlab.dune-project.org/core/ci-config/raw/master/jobs/common/master.yml"

before_script:
  - . /duneci/bin/duneci-init-job
  - duneci-install-module https://gitlab.dune-project.org/core/dune-common.git
